<div class="container">
  <h2 class="subtitle">Fechas de Presupuesto</h2>
  <div [formGroup]="budgetDateForm" class="form-container">
    <p-floatlabel variant="on">
      <p-date-picker id="sendingDate" formControlName="sendingDate" dateFormat="dd/mm/yy"/>
      <label for="sendingDate">Fecha de Envío</label>
    </p-floatlabel>
    <p-floatlabel variant="on">
      <p-date-picker id="receptionDate" formControlName="sendingDate" dateFormat="dd/mm/yy"/>
      <label for="receptionDate">Aprobación / Rechazo de Presupuesto</label>
    </p-floatlabel>
    <p-float-label variant="on">
      <p-select id="budgetState" inputId="budgetState" formControlName="budgetState"
                [options]="budgetStateOptions" optionLabel="label" optionValue="value"/>
      <label for="budgetState">Estado del Presupuesto</label>
    </p-float-label>
  </div>
</div>
