<div [formGroup]="basicInformationForm">
  <label for="request">Request</label>
  <input type="number" id="request" formControlName="request">
  <label for="wo">WO</label>
  <input type="number" id="wo" formControlName="wo">
  <label for="io">IO</label>
  <input type="number" id="io" formControlName="io">
  <label for="quote">Quote</label>
  <input type="number" id="quote" formControlName="quote">
  <label for="bp">BP</label>
  <input type="text" id="bp" formControlName="bp">
  <label for="client">Cliente</label>
  <input type="text" id="client" formControlName="client">
  <label for="description">Descripción</label>
  <input type="text" id="description" formControlName="description">
</div>
