nav{
  padding: 1.5rem 2rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  color: var(--text-inverted-color);
  background-color: var(--unimaq-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

p-select{
  width: 300px;
}
