<form [formGroup]="completeForm">
  <navbar-component/>
  <basic-information-component [basicInformationForm]="getBasicInformation()"/>
  <detailed-information-component [detailedInformationForm]="getDetailedInformation()"/>
  <equipment-information-component [equipmentInformationForm]="getEquipmentInformation()"/>
  <start-date-component [startDateForm]="getStartDates()"/>
  <evaluation-date-component [evaluationDateForm]="getEvaluationDates()"/>
  <budget-date-component [budgetDateForm]="getBudgetDates()"/>
  <provider-date-component [providerDateForm]="getProviderDates()"/>
  <part-date-component [partDateForm]="getPartDates()"/>
  <repair-date-component [repairDateForm]="getRepairDates()"/>
  <end-date-component [endDateForm]="getEndDates()"/>
  <compliance-component [complianceForm]="getCompliance()"/>
  <other-component [otherForm]="getOther()"/>
  <div class="container">
    <div style="display: flex; align-items: center; justify-content: center; padding: 1rem">
      <p-button (click)="addWorkOrder()" size="large">Guardar</p-button>
    </div>
  </div>
</form>
