<form [formGroup]="completeForm">
  <navbar-component/>
  <basic-information-component [basicInformationForm]="getBasicInformation()"/>
  <detailed-information-component/>
  <equipment-information-component/>
  <start-date-component/>
  <evaluation-date-component/>
  <budget-date-component/>
  <provider-date-component/>
  <part-date-component/>
  <repair-date-component/>
  <end-date-component/>
  <compliance-component/>
  <other-component/>
  <button (click)="addWorkOrder()">Guardar</button>
</form>
