<div class="container">
  <h2 class="subtitle">Fechas de inicio</h2>
  <div [formGroup]="startDateForm" class="form-container">
    <p-floatlabel variant="on">
      <p-date-picker id="requirement" formControlName="requirement" dateFormat="dd.mm.yy"/>
      <label for="requirement">Fecha de Requerimiento</label>
    </p-floatlabel>
    <p-floatlabel variant="on">
      <p-date-picker id="arrival" formControlName="arrival" dateFormat="dd.mm.yy"/>
      <label for="arrival">Fecha de Llegada</label>
    </p-floatlabel>
    <p-floatlabel variant="on">
      <p-date-picker id="woCreation" formControlName="woCreation" dateFormat="dd.mm.yy"/>
      <label for="woCreation">Creación de WO</label>
    </p-floatlabel>
    <p-floatlabel variant="on">
      <p-date-picker id="firstLabor" formControlName="firstLabor" dateFormat="dd.mm.yy"/>
      <label for="firstLabor">First Labor</label>
    </p-floatlabel>
  </div>
</div>
