<div class="container">
  <h2 class="subtitle">Fechas de Proveedor</h2>
  <div [formGroup]="providerDateForm" class="form-container">
    <p-float-label variant="on">
      <p-select id="providerState" inputId="providerState" formControlName="providerState"
                [options]="providerStateOptions" optionLabel="label" optionValue="value"/>
      <label for="providerState">Estado del Proveedor</label>
    </p-float-label>
    <p-floatlabel variant="on">
      <p-date-picker id="providerPlanStart" formControlName="providerPlanStart" dateFormat="dd/mm/yy"/>
      <label for="providerPlanStart">Fecha Planeada de Inicio</label>
    </p-floatlabel>
    <p-floatlabel variant="on">
      <p-date-picker id="providerRealStart" formControlName="providerRealStart" dateFormat="dd/mm/yy"/>
      <label for="providerRealStart">Fecha Real de Inicio</label>
    </p-floatlabel>
    <p-floatlabel variant="on">
      <p-date-picker id="providerPlanEnd" formControlName="providerPlanEnd" dateFormat="dd/mm/yy"/>
      <label for="providerPlanEnd">Fecha Planeada de Fin</label>
    </p-floatlabel>
    <p-floatlabel variant="on">
      <p-date-picker id="providerRealEnd" formControlName="providerRealEnd" dateFormat="dd/mm/yy"/>
      <label for="providerRealEnd">Fecha Real de Fin</label>
    </p-floatlabel>
  </div>
</div>
