<navbar-component (showOnlyChanged)="updateFormControls($event)"/>
<form [formGroup]="requestForm">
  <p-toast/>
  <!--Basic Information-->
  <div class="container">
    <header>
      <h2 class="subtitle">Información Básica</h2>
    </header>
    <div class="form-container">
      <p-floatlabel variant="on">
        <p-inputnumber formControlName="request" inputId="withoutgrouping" [useGrouping]="false"/>
        <label>Request</label>
      </p-floatlabel>
      <p-floatlabel variant="on">
        <p-inputnumber formControlName="wo" inputId="withoutgrouping" [useGrouping]="false"/>
        <label>Work Order</label>
      </p-floatlabel>
      <p-floatlabel variant="on">
        <p-inputnumber formControlName="io" inputId="withoutgrouping" [useGrouping]="false"/>
        <label>Internal Order</label>
      </p-floatlabel>
      <p-floatlabel variant="on">
        <p-inputnumber formControlName="quote" inputId="withoutgrouping" [useGrouping]="false"/>
        <label>Quote</label>
      </p-floatlabel>
      <p-floatlabel variant="on">
        <p-inputnumber formControlName="bp" inputId="withoutgrouping" [useGrouping]="false"/>
        <label>BP</label>
      </p-floatlabel>
      <p-floatlabel variant="on">
        <input type="text" pInputText formControlName="client">
        <label>Cliente</label>
      </p-floatlabel>
      <p-floatlabel variant="on" class="input-max-width">
        <input type="text" pInputText formControlName="description">
        <label>Descripción del Request</label>
      </p-floatlabel>
    </div>
  </div>
  <!--Detailed Information-->
  <div class="container">
    <header>
      <h2 class="subtitle">Información Detallada</h2>
    </header>
    <div class="form-container">
      <p-floatlabel variant="on">
        <p-select inputId="branch" formControlName="branch"
                  [options]="branchOptions" optionLabel="label" optionValue="value"/>
        <label>Sucursal</label>
      </p-floatlabel>
      <p-float-label variant="on">
        <p-select inputId="supervisor" formControlName="supervisor"
                  [options]="supervisorOptions" optionLabel="label" optionValue="value"/>
        <label>Supervisor</label>
      </p-float-label>
      <p-float-label variant="on">
        <p-select inputId="technician" formControlName="technician"
                  [options]="technicianOptions" optionLabel="label" optionValue="value"/>
        <label>Técnico</label>
      </p-float-label>
      <p-float-label variant="on">
        <p-select inputId="attentionType" formControlName="attentionType"
                  [options]="attentionTypeOptions" optionLabel="label" optionValue="value"/>
        <label>Tipo de Atención</label>
      </p-float-label>
      <p-float-label variant="on">
        <p-select inputId="state" formControlName="state"
                  [options]="requestStateOptions" optionLabel="label" optionValue="value"/>
        <label >Estado</label>
      </p-float-label>
      <p-float-label variant="on">
        <p-select inputId="bay" formControlName="bay"
                  [options]="bayOptions" optionLabel="label" optionValue="value"/>
        <label>Bahía</label>
      </p-float-label>
      <p-floatlabel variant="on" class="input-max-width">
        <input type="text" pInputText formControlName="comment">
        <label>Comentarios</label>
      </p-floatlabel>
    </div>
  </div>
  <!--Equipment Information-->
  <div class="container">
    <header>
      <h2 class="subtitle">Información del Equipo</h2>
    </header>
    <div class="form-container">
      <p-floatlabel variant="on">
        <input pInputText type="text" formControlName="equipment">
        <label>Equipo</label>
      </p-floatlabel>
      <p-floatlabel variant="on">
        <input pInputText type="text" formControlName="model">
        <label>Modelo</label>
      </p-floatlabel>
      <p-floatlabel variant="on">
        <p-select inputId="brand" formControlName="brand"
                  [options]="brandOptions" optionLabel="label" optionValue="value"/>
        <label>Marca</label>
      </p-floatlabel>
      <p-floatlabel variant="on">
        <input pInputText type="text" formControlName="fabricSeries">
        <label>Serie de Fábrica</label>
      </p-floatlabel>
      <p-floatlabel variant="on">
        <input pInputText type="text" formControlName="sapCode">
        <label>Código SAP</label>
      </p-floatlabel>
    </div>
  </div>
  <!--Start Dates-->
  <div class="container">
    <header>
      <h2 class="subtitle">Fechas Iniciales</h2>
    </header>
    <div class="form-container">
      <p-floatlabel variant="on">
        <p-date-picker formControlName="requirement" dateFormat="dd/mm/yy"/>
        <label>Fecha de Requerimiento</label>
      </p-floatlabel>
      <p-floatlabel variant="on">
        <p-date-picker formControlName="arrival" dateFormat="dd/mm/yy"/>
        <label>Fecha de Llegada</label>
      </p-floatlabel>
      <p-floatlabel variant="on">
        <p-date-picker formControlName="woCreation" dateFormat="dd/mm/yy"/>
        <label>Creación de Work Order</label>
      </p-floatlabel>
      <p-floatlabel variant="on">
        <p-date-picker formControlName="firstLabor" dateFormat="dd/mm/yy"/>
        <label>First Labor</label>
      </p-floatlabel>
    </div>
  </div>
  <!--Evaluation Dates-->
  <div class="container">
    <header>
      <h2 class="subtitle">Fechas de Evaluación</h2>
    </header>
    <div class="form-container">
      <p-floatlabel variant="on">
        <p-date-picker formControlName="evaluationPlanStart" dateFormat="dd/mm/yy"/>
        <label>Inicio Planeado de la Evaluación</label>
      </p-floatlabel>
      <p-floatlabel variant="on">
        <p-date-picker formControlName="evaluationRealStart" dateFormat="dd/mm/yy"/>
        <label>Inicio Real de la Evaluación</label>
      </p-floatlabel>
      <p-floatlabel variant="on">
        <p-date-picker formControlName="evaluationPlanEnd" dateFormat="dd/mm/yy"/>
        <label>Fin Planeado de la Evaluación</label>
      </p-floatlabel>
      <p-floatlabel variant="on">
        <p-date-picker formControlName="evaluationRealEnd" dateFormat="dd/mm/yy"/>
        <label>Fin Real de la Evaluación</label>
      </p-floatlabel>
    </div>
  </div>
  <!--Budget Dates-->
  <div class="container">
    <header>
      <h2 class="subtitle">Fechas de Presupuesto</h2>
    </header>
    <div class="form-container">
      <p-floatlabel variant="on">
        <p-date-picker formControlName="sendingDate" dateFormat="dd/mm/yy"/>
        <label>Fecha de Envío de Presupuesto</label>
      </p-floatlabel>
      <p-floatlabel variant="on">
        <p-date-picker formControlName="sendingDate" dateFormat="dd/mm/yy"/>
        <label>Aprobación / Rechazo de Presupuesto</label>
      </p-floatlabel>
      <p-float-label variant="on">
        <p-select inputId="budgetState" formControlName="budgetState"
                  [options]="defaultStateOptions" optionLabel="label" optionValue="value"/>
        <label>Estado del Presupuesto</label>
      </p-float-label>
    </div>
  </div>
  <!--Provider Dates-->
  <div class="container">
    <header>
      <h2 class="subtitle">Fechas de Proveedor</h2>
    </header>
    <div class="form-container">
      <p-float-label variant="on">
        <p-select inputId="providerState" formControlName="providerState"
                  [options]="defaultStateOptions" optionLabel="label" optionValue="value"/>
        <label>Estado del Proveedor</label>
      </p-float-label>
      <p-floatlabel variant="on">
        <p-date-picker formControlName="providerPlanStart" dateFormat="dd/mm/yy"/>
        <label>Inicio Planeado de Proveedor</label>
      </p-floatlabel>
      <p-floatlabel variant="on">
        <p-date-picker formControlName="providerRealStart" dateFormat="dd/mm/yy"/>
        <label>Inicio Real de Proveedor</label>
      </p-floatlabel>
      <p-floatlabel variant="on">
        <p-date-picker formControlName="providerPlanEnd" dateFormat="dd/mm/yy"/>
        <label>Fin Planeado de Proveedor</label>
      </p-floatlabel>
      <p-floatlabel variant="on">
        <p-date-picker formControlName="providerRealEnd" dateFormat="dd/mm/yy"/>
        <label>Fin Real de Proveedor</label>
      </p-floatlabel>
    </div>
  </div>
  <!--Part Date-->
  <div class="container">
    <header>
      <h2 class="subtitle">Fechas de Repuestos</h2>
    </header>
    <div class="form-container">
      <p-float-label variant="on">
        <p-select inputId="partState" formControlName="partState"
                  [options]="defaultStateOptions" optionLabel="label" optionValue="value"/>
        <label>Estado de los Repuestos</label>
      </p-float-label>
      <p-floatlabel variant="on">
        <p-date-picker formControlName="orderDate" dateFormat="dd/mm/yy"/>
        <label>Fecha de Pedido de Repuestos</label>
      </p-floatlabel>
      <p-floatlabel variant="on">
        <p-date-picker formControlName="partPlanArrival" dateFormat="dd/mm/yy"/>
        <label>Llegada Planeada de Repuestos</label>
      </p-floatlabel>
      <p-floatlabel variant="on">
        <p-date-picker formControlName="partRealArrival" dateFormat="dd/mm/yy"/>
        <label>Llegada Real de Repuestos</label>
      </p-floatlabel>
    </div>
  </div>
  <!--Repair Date-->
  <div class="container">
    <header>
      <h2 class="subtitle">Fechas de Reparación</h2>
    </header>
    <div class="form-container">
      <p-floatlabel variant="on">
        <p-date-picker formControlName="repairPlanStart" dateFormat="dd/mm/yy"/>
        <label>Fecha Planeada de Inicio</label>
      </p-floatlabel>
      <p-floatlabel variant="on">
        <p-date-picker formControlName="repairRealStart" dateFormat="dd/mm/yy"/>
        <label>Fecha Real de Inicio</label>
      </p-floatlabel>
      <p-floatlabel variant="on">
        <p-date-picker formControlName="repairPlanEnd" dateFormat="dd/mm/yy"/>
        <label>Fecha Planeada de Fin</label>
      </p-floatlabel>
      <p-floatlabel variant="on">
        <p-date-picker formControlName="repairRealEnd" dateFormat="dd/mm/yy"/>
        <label>Fecha Real de Fin</label>
      </p-floatlabel>
    </div>
  </div>
  <!--End Date-->
  <div class="container">
    <header>
      <h2 class="subtitle">Fechas Finales</h2>
    </header>
    <div class="form-container">
      <p-floatlabel variant="on">
        <p-date-picker formControlName="lastLabor" dateFormat="dd/mm/yy"/>
        <label>Last Labor</label>
      </p-floatlabel>
      <p-floatlabel variant="on">
        <p-date-picker formControlName="realEndDate" dateFormat="dd/mm/yy"/>
        <label>Fecha de Término Real</label>
      </p-floatlabel>
      <p-floatlabel variant="on">
        <p-date-picker formControlName="closingDate" dateFormat="dd/mm/yy"/>
        <label>Fecha de Cierre</label>
      </p-floatlabel>
      <p-floatlabel variant="on">
        <p-date-picker formControlName="billingDate" dateFormat="dd/mm/yy"/>
        <label>Fecha de Facturación</label>
      </p-floatlabel>
      <p-floatlabel variant="on">
        <p-date-picker formControlName="reportSendingDate" dateFormat="dd/mm/yy"/>
        <label>Fecha de Envío de Reporte</label>
      </p-floatlabel>
      <p-floatlabel variant="on">
        <p-date-picker formControlName="nbd" dateFormat="dd/mm/yy"/>
        <label>NBD</label>
      </p-floatlabel>
      <p-floatlabel variant="on" class="input-max-width">
        <input type="text" pInputText formControlName="nbdChangingDateReason">
        <label>Motivo de Cambio del NBD</label>
      </p-floatlabel>
    </div>
  </div>
  <!--Compliance-->
  <div class="container">
    <header>
      <h2 class="subtitle">Cumplimiento</h2>
    </header>
    <div class="form-container">
      <p-floatlabel variant="on">
        <input pInputText type="text" formControlName="compliance">
        <label>¿Cumple?</label>
      </p-floatlabel>
      <p-float-label variant="on">
        <p-select inputId="complianceMotive" formControlName="complianceMotive"
                  [options]="complianceMotiveOptions" optionLabel="label" optionValue="value"/>
        <label>Motivo</label>
      </p-float-label>
      <p-floatlabel variant="on" class="input-max-width">
        <input pInputText type="text" formControlName="motiveDetails">
        <label>Detalles de cumplimiento</label>
      </p-floatlabel>
    </div>
  </div>
  <!--Other-->
  <div class="container">
    <header>
      <h2 class="subtitle">Otros</h2>
    </header>
    <div class="form-container">
      <div style="display: flex; flex-direction: row; align-items: center; gap: 1rem">
        <span>Emergencia</span>
        <p-toggle-switch id="emergency" formControlName="emergency"/>
      </div>
    </div>
  </div>
  <div class="container">
    <div style="display: flex; align-items: center; justify-content: center; padding: 1rem">
      <p-button (click)="addWorkOrder()" size="large">Guardar</p-button>
    </div>
  </div>
</form>
<app-footer/>
