<div class="container">
  <h2 class="subtitle">Fechas Finales</h2>
  <div [formGroup]="endDateForm" class="form-container">
    <p-floatlabel variant="on">
      <p-date-picker id="lastLabor" formControlName="lastLabor" dateFormat="dd/mm/yy"/>
      <label for="lastLabor">Last Labor</label>
    </p-floatlabel>
    <p-floatlabel variant="on">
      <p-date-picker id="realEndDate" formControlName="realEndDate" dateFormat="dd/mm/yy"/>
      <label for="realEndDate">Fecha de Término Real</label>
    </p-floatlabel>
    <p-floatlabel variant="on">
      <p-date-picker id="closingDate" formControlName="closingDate" dateFormat="dd/mm/yy"/>
      <label for="closingDate">Fecha de Cierre</label>
    </p-floatlabel>
    <p-floatlabel variant="on">
      <p-date-picker id="billingDate" formControlName="billingDate" dateFormat="dd/mm/yy"/>
      <label for="billingDate">Fecha de Facturación</label>
    </p-floatlabel>
    <p-floatlabel variant="on">
      <p-date-picker id="reportSendingDate" formControlName="reportSendingDate" dateFormat="dd/mm/yy"/>
      <label for="reportSendingDate">Fecha de Envío de Reporte</label>
    </p-floatlabel>
    <p-floatlabel variant="on">
      <p-date-picker id="nbd" formControlName="nbd" dateFormat="dd/mm/yy"/>
      <label for="nbd">NBD</label>
    </p-floatlabel>
    <p-floatlabel variant="on" class="input-max-width">
      <input id="nbdChangingDateReason" type="text" pInputText formControlName="nbdChangingDateReason">
      <label for="nbdChangingDateReason">Motivo de Cambio del NBD</label>
    </p-floatlabel>
  </div>
</div>
